<footer class="summer-site-footer">
    <div class="copyright">
         <section>All content copyright <a href="{{ site.url }}">{{ site.owner.name }}</a> &copy; {{ site.time | date: '%Y' }} &bull; All rights reserved.</section>
    </div>
    <div class="social-icons">
        
        {% if site.owner.twitter %}
        <a href="http://twitter.com/{{ site.owner.twitter }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.github %}
        <a href="http://github.com/{{ site.owner.github }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
        {% if site.owner.linked %}
        <a href="https://linkedin.com/in/{{ site.owner.linkedin }}">
            <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                <i class="fa fa-linkedin fa-stack-1x"></i>
            </span>
        </a>
        {% endif %}
    </div>
    
    <div class="cf"></div>
</footer>